Lesson 1: Python Basic

In [1]:
4%2

0

In [2]:
4/2

2.0

In [3]:
5//2

2

In [4]:
5/2

2.5

In [10]:
#BODMAS - Bracket,Order of, Division,Multiplicatio,Addition,Substraction
78 - (24 - (16 - (5 - 4 - 1)))

70

In [11]:
# data type
type(4/2)

float

In [12]:
type(5/2)

float

In [13]:
type(1)

int

In [14]:
type("1")

str

In [15]:
a=10
b=20
c=a+b

In [16]:
type(c)

int

In [17]:
True or False

True

In [18]:
True | False

True

In [21]:
a=10
b-20
a+b>30 or a+b>=30

True

In [24]:
a=10
b-20
a+b>30 | a+b>10

False

In [25]:
# String
# Dont use predefined variables as variables

In [26]:
str

str

In [28]:
# type cast number to string
str(1)

'1'

In [31]:
str='Hello'

In [32]:
str

'Hello'

In [33]:
#got below error as we have overwritten the functionality of str with Hello. Restart the Jupyter
str(1)


#---------------------------------------------------------------------------
#TypeError                                 Traceback (most recent call last)
#<ipython-input-33-5c73dd08b6cc> in <module>
#----> 1 str(1)

#TypeError: 'str' object is not callable

TypeError: 'str' object is not callable

In [1]:
#press Shift + Tab to know the details of the function
str(1)

str

In [3]:
str1='Hello'

In [4]:
str1

'Hello'

In [5]:
#console output is print and which always displays string
print(str1)

Hello

# str1 and print(str1) output is same

In [ ]:
# In [] is shell or cell for the coding... if required more shells press Esc + A and that # of times shells will be created

In [1]:
str1 ="Wel"
str2 = "come"
str1+str2

'Welcome'

# Place Holder - Input

In [2]:
#Input value
a =input("Enter Str1 value")
b =input("Enter Str2 Value")
c=a+b
print (c)

Enter Str1 valueWel
Enter Str2 Valuecome
Welcome

In [3]:
#Input value
a =input("Enter Str1 value")
b =input("Enter Str2 Value")
c=a+b
print (c)

Enter Str1 value10
Enter Str2 Value20
1020

In [4]:
#Input value
a1 =float(input("Enter Str1 value"))
b1 =float(input("Enter Str2 Value"))
c1=a1+b1
print (c1)

Enter Str1 value10
Enter Str2 Value20
30.0

In [6]:
#Input value
a1 =int(input("Enter Str1 value"))
b1 =int(input("Enter Str2 Value"))
c1=a1+b1
print ("Addition of values",c1) # comma is used

Enter Str1 value10
Enter Str2 Value20
Addition of values 30

In [9]:
#Input value
first_name =input("Enter your First name")
last_name =input("Enter your Last name")
name1=first_name+last_name
print ("Hello ",first_name,last_name) # comma is used

Enter your First nameKesavan
Enter your Last nameSubramanian
Hello  Kesavan Subramanian

In [10]:
first_name =input("Enter your First name")
last_name =input("Enter your Last name")
name1=first_name+last_name
print ("My First Name ",first_name,"My Last Name ",last_name) # comma is used

Enter your First nameKesavan
Enter your Last nameSubramanian
My First Name  Kesavan My Last Name  Subramanian

# Place HOlder

In [12]:
#Place Holder for printing
first_name =input("Enter your First name")
last_name =input("Enter your Last name")
name1=first_name+last_name
print ("My First Name {} My Last Name {}".format(first_name,last_name))

Enter your First nameKesavan
Enter your Last nameSubramanian
My First Name Kesavan My Last Name Subramanian

In [13]:
#Place Holder for printing with variable inside the format. See the position of the variables....
first_name =input("Enter your First name")
last_name =input("Enter your Last name")
name1=first_name+last_name
print ("My First Name {firstname} My Last Name {lastname}".format(firstname=first_name,lastname=last_name))
print ("My First Name {firstname} My Last Name {lastname}".format(lastname=last_name,firstname=first_name))

Enter your First nameKesavan
Enter your Last nameSubramanian
My First Name Kesavan My Last Name Subramanian
My First Name Kesavan My Last Name Subramanian

In [17]:
#Python by default takes data type
v1="Hello"
type(v1)

str

In [18]:
v2=1
type(v2)

int

In [19]:
"hello"  + 1

TypeError: can only concatenate str (not "int") to str

In [20]:
"hello" + str(1)

'hello1'

In [21]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
1 + int("2")

3

In [23]:
#Conditional Statement condition within if is intended
v3=int(input("Enter value one "))
v4=int(input("Enter value two "))

v5= v3 - v4

if v5 < 0:
    print("output is negative")
    print("one more line within if")
else:
    print("ouput is positive")
    print("one more line within else")

print ("after conditonal statement")

Enter value one 10
Enter value two 20
output is negative
one more line within if
after conditonal statement

In [2]:
#Conditional Statement condition within if is intended
# proper intend should be there below is due to intention is wrong
v3=int(input("Enter value one "))
v4=int(input("Enter value two "))

v5= v3 - v4

if v5 < 0:
  print("output is negative")
    print("one more line within if")
elif v5==40:
    print("output is 40")
    print("one more line within seconnnnnnnnnnnnnd if")
  
else:
    print("ouput is positive")
    print("one more line within else")

print ("after conditonal statement")

IndentationError: unexpected indent (<ipython-input-2-27a008f179e0>, line 9)

# Data Structures

In [4]:
# list
lst=[1,2,3,"Hello","Kesavan"]

In [5]:
lst

[1, 2, 3, 'Hello', 'Kesavan']

In [6]:
lst[3]

'Hello'

In [6]:
lst{0}

SyntaxError: invalid syntax (<ipython-input-6-df1341c839ad>, line 1)

In [7]:
lst[0]

1

In [9]:
#list we can store multi data type
type(lst[0])

int

In [10]:
type(lst[3])

str

In [11]:
type(lst)

list

In [12]:
lst.append(10)

In [13]:
lst

[1, 2, 3, 'Hello', 'Kesavan', 10]

In [14]:
lst[5]

10

In [16]:
#replace
lst[5]=4
print(lst)

[1, 2, 3, 'Hello', 'Kesavan', 4]

In [17]:
#Indexing

In [18]:
str1="Kesavan"

In [19]:
str1

'Kesavan'

In [20]:
str1[2]

's'

In [21]:
str1[2]='a'

TypeError: 'str' object does not support item assignment

In [22]:
#in python  you can replace a particulat char of a string whereas in lst you can hence string is immutable